@import "normalize.css";
@import "reset.css";
@import "fonts.css";

/*--------------------------------------*/
/* General */
/*--------------------------------------*/

html,
body {
  background-color: var(--color-background);
  color: var(--color-chart-axis);
  min-height: 100%;
  margin: 0;
}

main {
  background-color: var(--color-background);
  display: block;
}

a {
  color: var(--color-link);
  outline: none;
  text-decoration-line: none;
  text-decoration-thickness: 0.2px;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

/*--------------------------------------*/
/* Colours */
/*--------------------------------------*/

:root {
  --color-background:black;
  --color-background2:#00080A;
  --color-chart-axis: #b9d4d3;
  --color-global: #d5f2f2;
  --color-europe: #0CBFF5;
  --color-usa: #CFFF04;
  --color-asia: #ff9130;
  --color-south-america: #ff00c4;
  --color-africa: #99F75E;
  --color-link-hover: #4c8ffe;
}

/*--------------------------------------*/
/* Text versions */
/*--------------------------------------*/

.text-big {
  font-family: "Montserrat Alternates2", sans-serif;
  color: var(--color-chart-axis);
  hyphens: auto;
  font-size: 30px;
  line-height: 1.15;
  text-align: left;
}

.text-medium {
  font-family: "Montserrat Alternates2", sans-serif;
  color: var(--color-global);
  font-size: 22px;
  line-height: 1.6;
  hyphens: auto;
  text-align: left;
}

.text-small {
  font-family: "Montserrat Alternates2", sans-serif;
  color: var(--color-chart-axis);
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1.4;
  hyphens: auto;
  text-align: left;
}

.heading {
  margin-top: 24px;
  position: relative;
  font-weight: bold;

  &::before {
    position: absolute;
    top: -24px;
    left: 0;
    content: ' ';
    display: block;
    background-color: white;
    width: 120px;
    height: 1px;
  }
}

.highlight {
  background: var(--color-background2);
  font-family: Montserrat Alternates3;
  padding: 3px 3px 3px 3px;
  margin: 2px 2px;
}

/*--------------------------------------*/
/* Screen stylings */
/*--------------------------------------*/

/*1400*/

@media screen and (max-width: 1400px) {
  .text-big {
    font-size: 40px;
  }

  .text-medium {
    font-size: 28px;
  }

  .text-small {
    font-size: 18px;
  }
}

/*780*/

@media screen and (max-width: 780px) {
  .text-big {
    font-size: var(--step-0);
  }

  .text-medium {
    font-size: var(--step-1);
  }

  .text-small {
    font-size: var(--step-0);
  }
}

/*600*/

@media screen and (max-width: 600px) {
  .text-big {
    font-size: var(--step-0);
  }

  .text-medium {
    font-size: 30px;
  }

  .text-small {
    font-size: 100px;
  }
}

/* < 480 */

@media screen and (max-width: 480px) {
  .text-big {
    font-size: var(--step-0);
  }

  .text-medium {
    font-size: 30px;
  }

  .text-small {
    font-size: 50px;
  }
}

/* < 380 */

@media screen and (max-width: 380px) {
  .text-big {
    font-size: var(--step--1);
  }

  .text-medium {
    font-size: 30px;
  }

  .text-small {
    font-size: 50px;
  }
}

/*--------------------------------------*/
/* Root */
/*--------------------------------------*/

:root {
  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;
  --border-radius: 2px;
  --1s: 1ms;
}

@media screen and (prefers-reduced-motion: no-preference) {
  :root {
    --1s: 1s;
  }
}