@import "normalize.css";
@import "reset.css";
@import "fonts.css";

:root {
  --color-background: #020100ff;
  --color-chart-axis: #b9d4d3;
}

:root {
  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;
  --border-radius: 2px;
  --font-body: var(--serif);
  --font-form: var(--sans);
  --1s: 1ms;
}


/* typography */
:root {
  /* fluid base */
  --base-min-font-size: 0.75rem;
  --base-max-font-size: 1.125rem;
  --base-min-line-height: 1.125rem;
  --base-max-line-height: 1.463rem;


  /* font families */
  --font-family-impact: "Syncopate", sans-serif;
  --font-family-base: "Montserrat Alternates", sans-serif;

  /* font sizes */
  --font-size-xl: 6rem;
  --font-size-lg: 2rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.8rem;
  --font-size-xs: 0.7rem;
}

/* colors */
:root {
  --jordy-blue: #99b9f8ff;
  --cornflower-blue: #7190feff;
  --caribbean-current: #226566ff;
  --brunswick-green: #224e3bff;
  --chefchaouen-blue: #4c8ffeff;
  --night: #081604ff;
  --cerulean: #247285ff;
  --pakistan-green: #113c1eff;
  --hot-pink: #fe5dbaff;
  --lavender-pink: #f9acdbff;
  --dark-green: #022121ff;
  --sky-magenta: #c35bacff;
  --black: #020909ff;
  --hot-pink-2: #ff6db7ff;
  --persian-pink: #fc7ec2ff;
  --charcoal: #213d4fff;
  --english-violet: #4a496aff;
}

@media screen and (prefers-reduced-motion: no-preference) {
  :root {
    --1s: 1s;
  }
}

/* font */
body {
  font-family: var(--font-family-base);
  font-size: clamp(var(--base-min-font-size), 0.693vw + 0.571rem, var(--base-max-font-size));
  line-height: clamp(var(--base-min-font-size), 0.624vw + 0.964rem, var(--base-max-line-height));
}