@import "normalize.css";
@import "reset.css";
@import "fonts.css";

/*--------------------------------------*/
/* General */
/*--------------------------------------*/

html,
body {
  background-color: var(--color-background);
  color: var(--color-chart-axis);
  min-height: 100%;
  margin: 0;
}

main {
  background-color: var(--color-background);
  display: block;
}

a {
  color: var(--color-link);
  outline: none;
  text-decoration-line: none;
  text-decoration-thickness: 0.2px;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

/*--------------------------------------*/
/* Colours */
/*--------------------------------------*/

:root {
  --color-background: #010505; 
  --color-background2: #062326;
  --color-chart-axis: #d7dcf0;
  --color-global: #eef0fd;
  --color-europe: #53e3ef; 
  --color-usa: #bdea00;
  --color-asia: #9ab6ff;
  --color-south-america: #FF559C;
  --color-africa: #8af8cc;
  --color-link-hover: #4c8ffe;
}

/*--------------------------------------*/
/* Text versions */
/*--------------------------------------*/

.text-big {
  font-family: "Montserrat Alternates2", sans-serif;
  color: var(--color-chart-axis);
  hyphens: auto;
  font-size: 55px;
  line-height: 1.15;
  text-align: left;
}

.text-medium {
  font-family: "Montserrat Alternates2", sans-serif;
  color: var(--color-global);
  font-size: 20px;
  line-height: 1.4;
  hyphens: auto;
  text-align: left;
  word-spacing: 0.15em; 
  letter-spacing: -0.38px;
}

.text-small {
  font-family: "Montserrat Alternates2", sans-serif;
  color: var(--color-chart-axis);
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1.4;
  hyphens: auto;
  text-align: left;
}

.heading {
  margin-top: 24px;
  position: relative;
  font-weight: bold;

  &::before {
    position: absolute;
    top: -24px;
    left: 0;
    content: " ";
    display: block;
    background-color: white;
    width: 120px;
    height: 1px;
  }
}

.highlight {
  background: var(--color-background2);
  font-family: Montserrat Alternates3;
  padding: 3px 3px 3px 3px;
  margin: 2px 2px;
}

/*--------------------------------------*/
/* Screen stylings */
/*--------------------------------------*/

/* Tablet landscape / Small laptop (< 1024px) */

@media screen and (max-width: 1024px) {
  .text-big {
    font-size: 36px;
  }

  .text-medium {
    font-size: 20px;
  }

  .text-small {
    font-size: 14px;
  }
}

/* Tablet (< 768px) */

@media screen and (max-width: 768px) {
  .text-big {
    font-size: 28px;
  }

  .text-medium {
    font-size: 18px;
  }

  .text-small {
    font-size: 14px;
  }
}

/* Mobile (< 480px) */

@media screen and (max-width: 480px) {
  .text-big {
    font-size: 24px;
  }

  .text-medium {
    font-size: 16px;
  }

  .text-small {
    font-size: 12px;
  }
}

/*--------------------------------------*/
/* Root */
/*--------------------------------------*/

:root {
  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;
  --border-radius: 2px;
  --1s: 1ms;
}
