@import "normalize.css";
@import "reset.css";
@import "fonts.css";

:root {
  --color-background: #020100ff;
  --color-chart-axis: #b9d4d3;
}

:root {
  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;
  --border-radius: 2px;
  --font-body: var(--serif);
  --font-form: var(--sans);
  --1s: 1ms;
}

@media screen and (prefers-reduced-motion: no-preference) {
  :root {
    --1s: 1s;
  }
}

/* font */
body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: clamp(0.75rem, 0.693vw + 0.571rem, 1.125rem);
  line-height: clamp(1.125rem, 0.624vw + 0.964rem, 1.463rem);
}

h1 {
  font-size: 6rem;
  font-family: "Syncopate", sans-serif;
  line-height: normal;
}

h3 {
  font-size: 2rem;
}
