@font-face {
	font-family: "Syncopate";
	src: url("/assets/Syncopate-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Syncopate";
	src: url("/assets/Syncopate-Regular.ttf") format("truetype");
}
