@font-face {
  font-family: "Syncopate";
  src: url("/assets/Syncopate-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates";
  src:
    url("/assets/MontserratAlternate1.ttf") format("truetype"),
    url("/assets/MontserratAlternate2.ttf") format("truetype"),
    url("/assets/MontserratAlternate3.ttf") format("truetype");
}
